@using BizData.Entities
@model IEnumerable<(Usuario, IEnumerable<Visa>)>

@{
    Layout = "UserLayout";
    ViewData["Title"] = "Nueva Visa";
}

<div class="main">
    <h1>Otorgar Visas</h1>
    <form method="post">
        <input name="uID" hidden="hidden" />
        <input name="vID" hidden="hidden" />
        <table>
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Visas Utiles
                </th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var (usr, visas) in Model)
            {
                <tr>
                    <td id="@usr.Id">
                        @usr.FirstName @usr.SecondName
                    </td>
                    <td>
                        <select asp-for="@visas">
                            @foreach(var item in visas)
                            {
                                <option value="@item.VisaID">@item.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <button class="button" type="submit" onclick="send(this)">Otorgar</button>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>


<script>
    dismark_selection();

    function send(caller) {
        var row = caller.parentElement.parentElement;
        var td = row.getElementsByTagName('td');
        var op = row.getElementsByTagName('options');
        for (var i = 0; i < op.length; ++i) {
            if (op[i].selected) {
                var inputs = document.getElementsByTagName('input');
                inputs[0].value = td[0].id;
                inputs[1].value = op[i].value;
                return;
            }
        }
        row.getElementsByTagName('select')[0].requiere = true;
    }
</script>

