@using BizData.Entities
@model IEnumerable<Historial>
@{
    ViewData["Title"] = "Historial";
    Layout = "UserLayout";
}
<div class="main">
    <table>
        <tr>
            <th>
                Usuario
            </th>
            <th>
                Usuario Afectado
            </th>
            <th>
                Comentario
            </th>
            <th>
                Estado
            </th>
            <th>
                Fecha
            </th>
            <th>
                Itinerario Fecha de Inicio
            </th>
            <th>
                Itinerario Fecha de Fin
            </th>
            <th>
                Itinerario Estado
            </th>
            <th>
                Viaje Invitado
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.UsuarioId != null)

                    {
                    @item.UsuarioId
                    }
                    else
                    {
                    <label>vacio</label>
                    }
                </td>
                <td>
                    @if (item.UsuarioTargetId != null)

                    {
                    @item.UsuarioTargetId
                    }
                    else
                    {
                    <label>vacio</label>
                    }

                </td>
                <td>
                    @if (item.Comentario != null)

                {
                        @item.UsuarioTargetId
                    }
                    else
                    {
                        <label>vacio</label>
                    }
                </td>
                <td>
                    @item.Estado
                </td>
                <td>
                    @item.Fecha
                </td>
                <td>
                    @if (item.Itinerario != null)
                    {
                        @item.Itinerario.FechaInicio
                    }
                    else
                    {

                        <label> vacio </label >
                    }
                </td>
                <td>
                    @if (item.Itinerario != null)
                    {
                        @item.Itinerario.FechaFin
                    }
                    else
                    {

                        <label> vacio </label>
                    }
                </td>
                <td>
                    @if (item.Itinerario != null)
                    {
                        @item.Itinerario.Estado
                    }
                    else
                    {

                        <label>vacio</label>
                    }
                </td>
                <td>
                    Viaje Invitado
                </td>
            </tr>
        }
    </table>
</div>
