@using BizData.Entities
@model IEnumerable<ViajeInvitado>
@{
    Layout = "UserLayout";
}
<div class="main">
    <h1>Detalles de Itinerario</h1>
    <form>
        <table>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Procedencia
                </th>
                <th>
                    Motivo
                </th>
                <th>
                    Usuario
                </th>
                <th>
                    Estado
                </th>
                <th>
                    FechaLLegada
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Procedencia
                    </td>
                    <td>
                        @if (item.Motivo != null)
                        {
                            @item.Motivo
                        }
                        else
                        {
                            <label>Vacio</label>

                        }
                    </td>
                    <td>
                        @item.Usuario
                    </td>
                    <td>
                        @item.Estado
                    </td>
                    <td>
                        @item.FechaLLegada
                    </td>
                </tr>
            }
        </table>
    </form>
</div>