@using BizData.Entities
@model IEnumerable<Viaje>

@{
    Layout = "UserLayout";
}

<div class="main">
    <h1>Detalles de Itinerario</h1>
    <form>
        <table>
            <tr>
                <th>
                    Pais
                </th>
                <th>
                    Ciudad
                </th>
                <th>
                    Fecha de Inicio
                </th>
                <th>
                    Fecha de Fin
                </th>
                <th>
                   Motivo
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Pais.Nombre
                    </td>
                    <td>
                        @item.Ciudad
                    </td>
                    <td>
                        @item.FechaInicio
                    </td>
                    <td>
                        @item.FechaFin
                    </td>
                    <td>
                        @item.MotivoViaje
                    </td>
                </tr>
            }
        </table>
    </form>
</div>