@using TripManager2._0.ViewModels
@model WelcomeViewModel

@{
    Layout = "UserLayout";
    ViewData["Title"] = "Usuarios";
}

<head>
    <title>Signed up</title>
</head>
<body>
    <CENTER>
        @if (User.HasClaim("Permission", "Common"))
        {
            <p>
                Desde aquí podrá usar todas las herramientas que la aplicación ofrece.
            </p>
            <br />
            if (!Model.ViajesUpdated.Any())
            {
                <p>No hay cambios en los viajes.</p>

            }
            else
            {
                if (User.Claims.Where(c => c.Type == "Visa").Any())
                {
                    foreach (var item in Model.ViajesUpdated.Where(v => v.Estado == BizData.Entities.Estado.PendienteVisas).ToList())
                    {
                            <p>@item</p>
                    }
                }

                if (User.Claims.Where(c => c.Type == "Passport").Any())
                {
                    foreach (var item in Model.ViajesUpdated.Where(v => v.Estado == BizData.Entities.Estado.PendientePasaporte).ToList())
                    {
                        <p>@item</p>

                    }
                }

                if (User.HasClaim("Institucion", "JefeArea"))
                {
                    foreach (var item in Model.ViajesUpdated.Where(v => v.Estado == BizData.Entities.Estado.PendienteAprobacionJefeArea).ToList())
                    {
                        <p>@item</p>
                    }
                }

                if (User.HasClaim("Institucion", "Decano"))
                {
                    foreach (var item in Model.ViajesUpdated.Where(v => v.Estado == BizData.Entities.Estado.PendienteAprobacionDecano).ToList())
                    {
                        <p>@item</p>
                    }
                }

                if (User.HasClaim("Institucion", "Rector"))
                {
                    foreach (var item in Model.ViajesUpdated.Where(v => v.Estado == BizData.Entities.Estado.PendienteAprobacionRector).ToList())
                    {
                        <p>@item</p>
                    }
                }

                <br />
                <h2>Sus Viajes:</h2>
                var misViajes = Model.ViajesUpdated.Where(v => v.Usuario.Email == User.Identity.Name).ToList();

                if (misViajes.Count() == 0)
                {
                    <p>Sus viajes viajes no han sufrido cambios.</p>
                }
                else
                {
                    foreach (var item in misViajes)
                    {
                        <p>@item</p>
                    }

                }
            }
        }
        else
        {
            <p>
                Desde aquí podrá regular la aplicación.
            </p>
            <br />
            <h2>Notificaciones:</h2>
            <br />
            <h4>Usuarios Pendientes de autorización:</h4>

            if (!Model.UserPendings.Any())
            {
                <p>No hay usuarios pendientes.</p>
            }
            else
            {
                int cant = Model.UserPendings.Count();

                if (cant == 1)
                {
                    <p>Hay @cant usuario pendiente.</p>
                }
                else
                {
                    <p>Hay @cant usuarios pendientes.</p>
                }
            }

        }
    </CENTER>
</body>



